.projects{

   

    h1{
        color: #ffd700;
        font-size: 53px;
        font-family: 'Coolvetica';
        font-weight: 400;
        margin: 0;
        position: absolute;
        left: 10%;
        top:10%;
        animation: fadeIn 1s 1.5s backwards;

        //make the text responsive
        @media (max-width: 768px) {
            left : 18%;
            font-size: 30px;
        }
    }

    .text-animate-hover{
        &:hover{
            color: #fff;
            
        }
    }

    .text-zone2{
        position: absolute;
        left: 10%;
        top: 20%;
        width: 80%;
        height: 80%;
        animation: fadeIn 1s 1.8s backwards;
        // overflow: auto;
        padding: 20px;
        // box-shadow: 0 0 10px rgba(0,0,0,.2);
        border-radius: 5px;
        color: #fff;
        font-size: 18px;
        font-family: 'Microsoft YaHei';
        font-weight: 400;

        //make the text responsive
        @media (max-width: 768px) {
            left: 13%;
            font-size: 10px;
        }
    }
}

.project1{

    h3{

        color: #ffd700;
        font-size: 53px;
        font-family: 'Coolvetica';
        font-weight: 400;
        margin: 0;
        position: absolute;
        left: 10%;
        top:10%;
        animation: fadeIn 1s 1.5s backwards;

        //make the text responsive
        @media (max-width: 768px) {
            left : 18%;
            font-size: 30px;

        }
    }

    
}

.project1-text{
    h5{
        color: #fff;
        font-size: 18px;
        font-family: 'Microsoft YaHei';
        font-weight: 400;
        margin: 0;
        position: absolute;
        left: 10%;
        top: 20%;
        width: 30%;
        padding: 20px;
        border: 1px solid #ffd700;
        border-radius: 8px;
        
        animation: fadeIn 1s 1.8s backwards;

        // make the text responsive
        @media (max-width: 768px) {
            left : 16%;
            font-size: 10px;
        }
    }
}

.project1-feat{


    p{
        color: #ffd700;
        font-size: 19px;
        font-family: 'Microsoft YaHei';
        font-weight: 400;
        margin: 0;
        position: absolute;
        left: 50%;
        top: 38%;
        width: 30%;
        padding: 20px;
        
        animation: fadeIn 1s 1.6s backwards;

        // make the text responsive
        @media (max-width: 768px) {
            font-size: 10px;
        }
    }
    h6{
        color: #fff;
        font-size: 18px;
        font-family: 'Microsoft YaHei';
        font-weight: 400;
        margin: 0;
        position: absolute;
        left: 50%;
        top: 40%;
        width: 30%;
        padding: 20px;
        border: 1px solid #ffd700;
        border-radius: 8px;
        
        animation: fadeIn 1s 1.8s backwards;

        // make the text responsive

        @media (max-width: 768px) {
            font-size: 10px;
        }
    }

    

    
}

.project2{
    h4{
        color: #ffd700;
        font-size: 50px;
        font-family: 'Coolvetica';
        font-weight: 400;
        margin: 0;
        position: absolute;
        left: 10%;
        top:10%;
        animation: fadeIn 1s 1.5s backwards;

        //make the text responsive

        @media (max-width: 768px) {
            left : 18%;
            top: 40%;
            font-size: 30px;
        }
    }
}

.project2-intro{
    h8{
        color: #fff;
        font-size: 18px;
        font-family: 'Microsoft YaHei';
        font-weight: 400;
        margin: 0;
        position: absolute;
        left: 10%;
        top: 20%;
        width: 30%;
        padding: 20px;
        border: 1px solid #ffd700;
        border-radius: 8px;
        
        animation: fadeIn 1s 1.8s backwards;

        // make the text responsive

        @media (max-width: 768px) {
            left : 16%;
            top: 50%;
            font-size: 10px;
        }

          
          

    }
}


.AIModelImage1{
   
    @media (max-width: 768px) {
        
        margin-top: 70%;
        animation: fadeIn 1s 1.8s backwards;
    
        
    }
}


.AIModelImage2{
    
    @media (max-width: 768px) {
        display: none;

    
        
    }
}


.AIModelImage3{
   
    @media screen and (max-width: 768px) {
        
        display: none;
    
        
    
        
    }
}

.project2-feat{
    h9{
        color: #ffd700;
        font-size: 19px;
        font-family: 'Microsoft YaHei';
        font-weight: 400;
        margin: 0;
        position: absolute;
        left: 50%;
        top: 40%;
        width: 30%;
        padding: 20px;
        
        animation: fadeIn 1s 1.6s backwards;


        // make the text responsive

        @media (max-width: 768px) {
            left : 60%;
            top: 60%;
            
            font-size: 10px;
        }
    }
    h10{
        color: #fff;
        font-size: 18px;
        font-family: 'Microsoft YaHei';
        font-weight: 400;
        margin: 0;
        position: absolute;
        left: 50%;
        top: 38%;
        width: 30%;
        padding: 20px;
        border: 1px solid #ffd700;
        border-radius: 8px;
        margin-top: 20px;
        
        
        animation: fadeIn 1s 1.8s backwards;

        // make the text responsive

        @media (max-width: 768px) {
            left : 60%;
            top: 60%;
            
            font-size: 10px;
        }
    }
  
}




.project3{
    h11{
        color: #ffd700;
        font-size: 50px;
        font-family: 'Coolvetica';
        font-weight: 400;
        margin: 0;
        position: absolute;
        left: 10%;
        top:10%;
        animation: fadeIn 1s 1.5s backwards;

        //make the text responsive
        
        @media (max-width: 768px) {
            left : 18%;
            font-size: 30px;
        }
    }

}

.project3-intro{
    h12{
        color: #fff;
        font-size: 18px;
        font-family: 'Microsoft YaHei';
        font-weight: 400;
        margin: 0;
        position: absolute;
        left: 10%;
        top: 20%;
        width: 30%;
        padding: 20px;
        border: 1px solid #ffd700;
        border-radius: 8px;
        
        animation: fadeIn 1s 1.8s backwards;

        // make the text responsive

        @media (max-width: 768px) {
            left : 16%;
            font-size: 10px;
        }

    }
}

.project3-feat{
    h13{
        color: #fff;
        font-size: 18px;
        font-family: 'Microsoft YaHei';
        font-weight: 400;
        margin: 0;
        position: absolute;
        left: 50%;
        top: 20%;
        width: 30%;
        padding: 20px;
        border: 1px solid #ffd700;
        border-radius: 8px;
        
        animation: fadeIn 1s 1.8s backwards;

        // make the text responsive

        @media (max-width: 768px) {
            left : 60%;
            font-size: 10px;
        }
        
    }
}


.website{
    h14{
        color: #ffd700;
        font-size: 50px;
        font-family: 'Coolvetica';
        font-weight: 400;
        margin: 0;
        position: absolute;
        left: 10%;
        top:10%;
        animation: fadeIn 1s 1.5s backwards;

        //make the text responsive

        @media (max-width: 768px) {
            left : 18%;

            font-size: 30px;
        }
    }
}

.website-intro{
    h15{
        color: #fff;
        font-size: 18px;
        font-family: 'Microsoft YaHei';
        font-weight: 400;
        margin: 0;
        position: absolute;
        left: 10%;
        top: 20%;
        width: 70%;
        padding: 20px;
        border: 1px solid #ffd700;
        border-radius: 8px;
        
        animation: fadeIn 1s 1.8s backwards;

        // make the text responsive

        @media (max-width: 768px) {
            left : 16%;
            font-size: 10px;
        }

    }
}

.project4{
    h16{
        color: #ffd700;
        font-size: 50px;
        font-family: 'Coolvetica';
        font-weight: 400;
        margin: 0;
        position: absolute;
        left: 10%;
        top:10%;
        animation: fadeIn 1s 1.5s backwards;


        //make the text responsive

        @media (max-width: 768px) {
            left : 18%;
            font-size: 30px;
        }

    }
}


.centre{
    display: flex;
    justify-content: center;
    align-items: center;
}
  