.resume{

    //make full page scrollable
    min-height: 100vh;
    position: relative;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;


    min-width: auto;
    padding: 0 0 100px 0;
    animation: fadeIn 1s 1s backwards;
    
    // make scroll bar invisible



    &::-webkit-scrollbar {
        width: 0px;
        background: transparent; /* make scrollbar transparent */
    }


    h1{
        color: #ffd700;
        font-size: 53px;
        font-family: 'Coolvetica';
        font-weight: 400;
        margin: 0;
        position: absolute;
        left: 10%;
        top:10%;
        animation: fadeIn 1s 1.5s backwards;

        //make responsive
        @media screen and (max-width: 768px) {
            font-size: 30px;
            left: 20%;
        }

    }

    .text-animate-hover{
        &:hover{
            color: #fff;
            
        }
    }

    
    .resume__document{
        position: absolute;
        left: 5%;
        top:20%;
        width: 97%;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: none;
        scrollbar-width: none;
        
        max-height: 80%;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0,0,0,.2);
        border-radius: 5px;
        animation: fadeIn 1s 1.8s backwards;


        &::-webkit-scrollbar {
            width: 0px;
            background: transparent; /* make scrollbar transparent */
        }

        //make responsive

        @media screen and (max-width: 768px) {
            width: 90%;
            left: 15%;
            top: 20%;
            max-height: 70%;
            // make document background white
            background-color: #fff;

        }
        
    }

    
}