.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    height: 90vh;
    overflow: auto;
    margin-bottom: 50px;
}

.about-page {
    display: flex;
    flex-direction: column;
}

.about-header {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    margin-bottom: 20px;
}

.about-avatar {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
    background-color: azure;
    border: 2px thin #ffd700;
}

.about-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-links {
    /* display: flex; */
    /* align-items: center; */
    color: aliceblue;
}

.about-links a {
    margin-right: 60px; /* Adjust the spacing between links */
    color: aliceblue;
    text-decoration: none;
}

.about-content {
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: white;
    text-align: left;
}

.about-content h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.about-content h3 {
    font-size: 24px;
    margin-top: 30px;
}

.about-content p {
    margin-bottom: 20px;
}

.about-content p:last-child {
    margin-bottom: 0;
}

.about-content a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.about-content a:hover {
    text-decoration: underline;
}
